@use "../../styles/variables" as *;

.activity-card {
  padding: 1rem;
  background-color: $color-primary;
  height: 15rem;
  width: 15rem;
  box-shadow: $box-shadow;

  &__heading {
    font-size: 1.6rem;
  }
}
