@use "../../styles/variables" as *;

.button {
  font-family: $font-primary;
  border: 2px solid $color-primary;
  padding: 0.4rem;
  width: inherit;
  background-color: $color-secondary;
  color: $color-primary;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
    border: 2px solid $color-secondary;
  }
}
