@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Righteous&display=swap");

$color-primary: #d7e68b;
$color-secondary: #e67d73;
$color-tertiary: #a1c0e6;
$color-other: #8c994d;
$color-mother: #995a54;
$color-white: #fbf7f5;

$font-heading: "Monoton";
$font-primary: "Righteous";

$box-shadow: 1px 1px 10px grey;
