@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Righteous&display=swap");



$color-primary: #D7E68B;
$color-secondary: #E67D73;
$color-tertiary: #A1C0E6;
$color-other: #8C994D;
$color-mother: #995A54;
$color-white: #fbf7f5;



$font-heading: "Monoton";