@use "../../styles/variables" as *;

.nav-bar {
  background-color: $color-secondary;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;

  &__heading {
    font-size: 3rem;
    cursor: pointer;
  }

  .nav-bar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 350px;
    color: $color-primary;
    font-family: $font-primary;
    cursor: pointer;

    p {
      &:hover {
        color: $color-tertiary;
      }
    }
  }
}
