@use "../../styles/variables" as *;

.nav-bar {
  background-color: $color-secondary;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;

  &__heading {
    font-size: 3rem;
    cursor: pointer;
  }

  .nav-bar__navigation {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
    width: 50%;
    max-width: 400px;

    .nav-bar__links {
      display: none;
      gap: 1.5rem;
      justify-content: space-between;
      align-items: center;
      color: $color-primary;
      font-family: $font-primary;
      cursor: pointer;

      &--mobile {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 75px;
        left: 0;
        background-color: $color-secondary;
        box-shadow: 0 0px 1px -1px gray;
      }

      p {
        &:hover {
          color: $color-tertiary;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    .nav-bar__navigation {
      .nav-bar__links {
        display: flex;
      }
      .links__burger {
        display: none;
      }
    }
  }
}
